@model List<MVC5.HW.Session1.Models.ViewModel.AccountingViewModels>
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model=>model[0].ID)
            </th>
                <th>@Html.DisplayNameFor(model => model[0].Category)</th>
                <th>@Html.DisplayNameFor(model => model[0].BillingDate)</th>
                <th>@Html.DisplayNameFor(model => model[0].BillingAmount)</th>
            </tr>
            @foreach (var rec in Model)
            {
                <tr>
                    <td>@(rec.ID)  </td>
                    <td>@(rec.Category)</td>
                    <td>@rec.BillingDate.ToString("yyyy-mm-dd")</td>
                    <td>@(rec.BillingAmount)</td>
                </tr>
            }

        </table>
    </div>
</div>
